@model mvc_web_application.Models.Ticket

@{
	ViewBag.Title = "Add/Edit Ticket";
	Layout = "_AdminLayout";
}

<h1>Edit Story</h1>
<hr />

<form asp-action="EditTicket">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="StoryID" />

	<div class="form-group">
		<label asp-for="Summary" class="control-label"></label>
		<input asp-for="Summary" class="form-control" />
		<span asp-validation-for="Summary" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Description" class="control-label"></label>
		<input asp-for="Description" class="form-control" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Asignee" class="control-label"></label>
		<input asp-for="Asignee " class="form-control" />
		<span asp-validation-for="Asignee " class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Reporter" class="control-label"></label>
		<input asp-for="Reporter" class="form-control" />
		<span asp-validation-for="Reporter" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="IsCompleted" class="control-label"></label>
		<input asp-for="IsCompleted" class="form-check" />
		<span asp-validation-for="IsCompleted" class="text-danger"></span>
	</div>

	<hr />
	<div>
		<input type="submit" value="Save" class="btn btn-primary" />
		<a asp-action="Index" class="btn btn-secondary">Back to List</a>
	</div>
</form>