@using Microsoft.AspNetCore.Identity
@using mvc_web_application.Areas.Identity.Data

@inject SignInManager<CustomUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
	Context.Response.Redirect("/Stories/Page1");
}
else
{
	<a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}